<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wangyanbao.recruit.mapper.RecruitMapper">
    <!-- 新增 -->
    <insert id="insert" parameterType="com.wangyanbao.recruit.pojo.Recruit">
        INSERT INTO `tb_recruit`(id ,name ,summary ,address ,labels ,coordinate ,ishot ,logo ,jobcount ,url)
        VALUES(#{id},#{name},#{summary},#{address},#{labels},#{coordinate},#{ishot},#{logo},#{jobcount},#{url})
    </insert>
    <select id="findAll"  resultType="com.wangyanbao.recruit.pojo.Recruit">
        select * from tb_recruit
    </select>
    <select id="findByPage" resultType="com.wangyanbao.recruit.pojo.Recruit">
        select * from tb_recruit
    </select>
    <select id="findById" parameterType="java.lang.String" resultType="com.wangyanbao.recruit.pojo.Recruit">
        select * from tb_recruit where id = #{Id}
    </select>
    <delete id="deleteAById" parameterType="java.lang.String">
        delete from tb_recruit where id = #{Id}
    </delete>
</mapper>